<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <!-- <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p> -->
  <!-- <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>-->

  <div>
    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-desc">Leave a Comment:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Comments</h3>
    
    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

</div>
